@import 'varriables';
@import 'template';
@import 'video';
@import 'contact';
@import 'nav';
@import 'clients';
@import 'team-members';

h1, h2, h3 {
    color: $core-color;
}

#map {
    height: 100%;
}

#location {
    padding: 4rem 0;
    background-color: $background-client;
    h1, h2, h3 {
        color: white;
    }
}
